<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>GCM_PROD-o75t3c8gbdaue7m0iuir4il1jauorfe6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.GCM_PROD-o75t3c8gbdaue7m0iuir4il1jauorfe6</string>
	<key>API_KEY</key>
	<string>FIREBASE_KEY_PROD_IOS</string>
	<key>GCM_SENDER_ID</key>
	<string>GCM_PROD</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kotsukotsu.local</string>
	<key>PROJECT_ID</key>
	<string>FIREBASE_PROJ_PROD</string>
	<key>STORAGE_BUCKET</key>
	<string>FIREBASE_PROJ_PROD.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:GCM_PROD:ios:5811dd740037aedb6bef9f</string>
</dict>
</plist>